<%= form_with(model: the_rasp, local: true) do |form| %>
  <% if the_rasp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(the_rasp.errors.count, "error") %> prohibited this the_rasp from being saved:</h2>

      <ul>
      <% the_rasp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rfid %>
    <%= form.number_field :rfid, id: :the_rasp_rfid %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :the_rasp_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
